@model GAILFileManagementSystem.Models.VendorModel
@{
    ViewData["Title"] = "ApplyFilter";
}

<h1>ApplyFilter</h1>


<label>Select Vendor name</label>

<select asp-for="Id" class="form-control" asp-items="@(new SelectList(Model.VendorList,"Value","Text"))">        @* Model.VendorList-> accessing VendorList that exists in the ApplyFilter.cs model *@
    @* Second parameter -> value, third parameter -> text *@
</select>