@model GAILFileManagementSystem.Models.Files

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Files</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File_type" class="control-label"></label>
                @* <select asp-for="File_type" class="form-control"></select> *@
                @Html.DropDownList(
                         "FileType",
                         Html.GetEnumSelectList<File_type>(),
                         "--SELECT--",
                         new { @class = "form-control" }
                         )
                <span asp-validation-for="File_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Open_Date" class="control-label"></label>
                <input asp-for="Open_Date" class="form-control" />
                <span asp-validation-for="Open_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Closed_Date" class="control-label"></label>
                <input asp-for="Closed_Date" class="form-control" />
                <span asp-validation-for="Closed_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sno" class="control-label"></label>
                <input asp-for="sno" class="form-control" />
                <span asp-validation-for="sno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractNumber" class="control-label"></label>
                <input asp-for="ContractNumber" class="form-control" />
                <span asp-validation-for="ContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractSubject" class="control-label"></label>
                <input asp-for="ContractSubject" class="form-control" />
                <span asp-validation-for="ContractSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractDescription" class="control-label"></label>
                <input asp-for="ContractDescription" class="form-control" />
                <span asp-validation-for="ContractDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label"></label>
                @* <select asp-for="ContractType" class="form-control"></select> *@
                @* <select asp-for="ContractType" class="form-control" asp-items="Html.GetEnumSelectList<CType>()">
                    <option value="">--Select Contract Type--</option> *@
                    @Html.DropDownList(
                             "ContractType",
                             Html.GetEnumSelectList<GAILFileManagementSystem.Models.Contract.CType>(),
                             "--SELECT--",
                             new { @class = "form-control" }
                             )
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <input asp-for="VendorId" class="form-control" />
                <span asp-validation-for="VendorId" class="text-danger"></span>
                @* <select asp-for="VendorId" class ="form-control" asp-items="ViewBag.VendorId"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAddress" class="control-label"></label>
                <input asp-for="VendorAddress" class="form-control" />
                <span asp-validation-for="VendorAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson" class="control-label"></label>
                <input asp-for="ContactPerson" class="form-control" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmailId" class="control-label"></label>
                <input asp-for="ContactEmailId" class="form-control" />
                <span asp-validation-for="ContactEmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
                @* <select asp-for="LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubLocationID" class="control-label"></label>
                <input asp-for="SubLocationID" class="form-control" />
                <span asp-validation-for="SubLocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubLocationName" class="control-label"></label>
                <input asp-for="SubLocationName" class="form-control" />
                <span asp-validation-for="SubLocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSTN_No" class="control-label"></label>
                <input asp-for="GSTN_No" class="form-control" />
                <span asp-validation-for="GSTN_No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
