@model GAILFileManagementSystem.Models.Contract
@{
    ViewData["Title"] = "Demo";
}

<h1>Demo</h1>

<form asp-controller="User" asp-action="Demo" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="ContractNumber" class="form-control" placeholder="Enter Contract Number" />
    <span asp-validation-for="ContractNumber" class="text-danger"></span>
    <br />
    <input type="submit" value="SUBMIT" class="btn btn-outline-primary" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
