@model GAILFileManagementSystem.Models.Files

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Files</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FILE_ID" />
            <div class="form-group">
                <label asp-for="FILE_NAME" class="control-label"></label>
                <input asp-for="FILE_NAME" class="form-control" />
                <span asp-validation-for="FILE_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FILE_TYPE" class="control-label"></label>
                @Html.DropDownList(
                         "FILE_TYPE",
                         Html.GetEnumSelectList<FILE_TYPE>(),
                         "--SELECT--",
                         new { @class = "form-control" }
                         )
                @* <select asp-for="FILE_TYPE" class="form-control"></select>
                <span asp-validation-for="FILE_TYPE" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OPEN_DATE" class="control-label"></label>
                <input asp-for="OPEN_DATE" class="form-control" />
                <span asp-validation-for="OPEN_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CLOSED_DATE" class="control-label"></label>
                <input asp-for="CLOSED_DATE" class="form-control" />
                <span asp-validation-for="CLOSED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STATUS" class="control-label"></label>
                <input asp-for="STATUS" class="form-control" />
                <span asp-validation-for="STATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SNO" class="control-label"></label>
                <input asp-for="SNO" class="form-control" />
                <span asp-validation-for="SNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTRACT_NUMBER" class="control-label"></label>
                <input asp-for="CONTRACT_NUMBER" class="form-control" />
                <span asp-validation-for="CONTRACT_NUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTRACT_SUBJECT" class="control-label"></label>
                <input asp-for="CONTRACT_SUBJECT" class="form-control" />
                <span asp-validation-for="CONTRACT_SUBJECT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTRACT_DESCRIPTION" class="control-label"></label>
                <input asp-for="CONTRACT_DESCRIPTION" class="form-control" />
                <span asp-validation-for="CONTRACT_DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="START_DATE" class="control-label"></label>
                <input asp-for="START_DATE" class="form-control" />
                <span asp-validation-for="START_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="END_DATE" class="control-label"></label>
                <input asp-for="END_DATE" class="form-control" />
                <span asp-validation-for="END_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTRACT_TYPE" class="control-label"></label>
                <select asp-for="CONTRACT_TYPE" class="form-control"></select>
                <span asp-validation-for="CONTRACT_TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VENDOR_ID" class="control-label"></label>
                <input asp-for="VENDOR_ID" class="form-control" />
                <span asp-validation-for="VENDOR_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VENDOR_NAME" class="control-label"></label>
                <input asp-for="VENDOR_NAME" class="form-control" />
                <span asp-validation-for="VENDOR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VENDOR_ADDRESS" class="control-label"></label>
                <input asp-for="VENDOR_ADDRESS" class="form-control" />
                <span asp-validation-for="VENDOR_ADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTACT_PERSON" class="control-label"></label>
                <input asp-for="CONTACT_PERSON" class="form-control" />
                <span asp-validation-for="CONTACT_PERSON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTACT_NUMBER" class="control-label"></label>
                <input asp-for="CONTACT_NUMBER" class="form-control" />
                <span asp-validation-for="CONTACT_NUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTACT_EMAIL" class="control-label"></label>
                <input asp-for="CONTACT_EMAIL" class="form-control" />
                <span asp-validation-for="CONTACT_EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L_ID" class="control-label"></label>
                <input asp-for="L_ID" class="form-control" />
                <span asp-validation-for="L_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOCATION_ID" class="control-label"></label>
                <input asp-for="LOCATION_ID" class="form-control" />
                <span asp-validation-for="LOCATION_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOCATION_NAME" class="control-label"></label>
                <input asp-for="LOCATION_NAME" class="form-control" />
                <span asp-validation-for="LOCATION_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SUBLOCATION_ID" class="control-label"></label>
                <input asp-for="SUBLOCATION_ID" class="form-control" />
                <span asp-validation-for="SUBLOCATION_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SUBLOCATION_NAME" class="control-label"></label>
                <input asp-for="SUBLOCATION_NAME" class="form-control" />
                <span asp-validation-for="SUBLOCATION_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSTN_NO" class="control-label"></label>
                <input asp-for="GSTN_NO" class="form-control" />
                <span asp-validation-for="GSTN_NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
