@using GAILFileManagementSystem.Models
@model GAILFileManagementSystem.Models.Files;

@{
    ViewData["Title"] = "EnterFiles";
}


<head>
    <style>
        body {
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('https://gailebank.gail.co.in/GSUICBG/images/About-img.jpg');
            color: black;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        nav {
            background-color: rgb(64, 143, 247);
            height: 58px;
            padding-top: 0.1px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        * {
            box-sizing: border-box;
        }

        .container {
            width: 1200px;
            background-color: rgb(255, 230, 0);
            margin: 1px auto;
            padding-top: 0;
            border-radius: 10px;
            padding-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        fieldset {
            background-color: whitesmoke;
            margin: 30px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        legend {
            padding: 8px;
            background-color: #BDE3FF;
            border-radius: 8px;
        }

        h2 {
            text-align: center;
        }

        .file-details {
            margin-top: 20px;
        }

        .contract-details, .vendor-details {
            margin-top: 20px;
        }

        .table-form {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

            .table-form th, .table-form td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            .table-form input[type="text"], .table-form input[type="date"], .table-form select {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .table-form select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'><path d='M7 10l-5-5 5-5 1 1 4 4-4 4z'/></svg>") no-repeat right 10px center;
            }

            .table-form input[type="date"]::-webkit-calendar-picker-indicator {
                background: none;
            }

        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .submit, .clear {
            background-color: rgb(64, 143, 247);
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }

            .submit:hover {
                background-color: rgb(52, 179, 47);
            }

            .clear:hover {
                background-color: rgb(250, 5, 5);
            }

        .profile-image {
            padding-top: 20px;
            padding-left: 50px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .light {
            background-color: #BDE3FF;
            height: 20px;
        }

        .input-container {
            position: relative;
            width: 300px; /* Adjust the width as needed */
        }

            .input-container input[type="date"] {
                width: 100%;
                padding-right: 30px; /* Space for the icon */
                box-sizing: border-box;
            }

            .input-container .icon {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none; /* Makes sure the icon does not block input clicks */
            }

        .user-info {
            display: flex;
        }

        .icon-file-input-container {
            display: flex;
            align-items: center;
        }

            .icon-file-input-container .icon {
                margin-right: 8px;
            }

            .icon-file-input-container input[type="file"] {
                display: inline-block;
            }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <img src=""
            alt="logo" style="border: 1px solid red; margin-left: 10px; margin-top: 11px; width: 40px; height: 40px;
          border-radius: 100% ; " />
            <h2 style="margin-top: -35px;">GAIL (India) Ltd. Ranchi</h2>
        </nav>
        <div class="light"></div>
        <div class="user-info">
            <img src=""
            alt="User Avatar" style="margin-left: 40px; margin-top: 16px; width: 50px; height: 50px;
          border-radius: 50%; " />
            <h4 style="padding-left: 10px;">Phill Wills<br>Ranchi, Jharkhand</h4>
        </div>
        <form asp-action="EnterFiles" asp-controller="User" method="post">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>File-Details</legend>
                <div class="file-details">
                    <table class="table-form">
                        <tr>
                            <th>File Type</th>
                            <td>
                                @Html.DropDownList(
                                         "FILE_TYPE",
                                         Html.GetEnumSelectList<FILE_TYPE>(),
                                         "--SELECT--",
                                         new { @class = "form-control" }
                                )
                                 @* <select asp-for="FILE_TYPE" class="form-control" asp-items="Html.GetEnumSelectList<FILE_TYPE>()">
                                     <option value="--select--">--select--</option>
                                 </select> *@
                            </td>
                        </tr>
                        <tr>
                            <th>File DESCRIPTION</th>
                            <td><textarea asp-for="DESCRIPTION" placeholder="Enter file description" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="DESCRIPTION" style="color:red;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>File Open Date</th>
                            <td>
                                <div class="input-container">
                                    <input asp-for="OPEN_DATE" class="form-control" type="date" value="date"><i class="icon">📅</i>
                                    <span asp-validation-for="OPEN_DATE" style="color:red;"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>File Close Date</th>
                            <td>
                                <div class="input-container">
                                    <input asp-for="CLOSED_DATE" class="form-control" type="date" value="date"><i class="icon">📅</i>
                                    <span asp-validation-for="CLOSED_DATE" style="color:red;"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contract-Details</legend>
                <div class="contract-details">
                    <a asp-controller="Home" asp-action="Contract">Enter new Contract</a>
                    <table class="table-form">
                        <tr>
                            <th>Contract Number</th>
                            <td>
                                <input asp-for="CONTRACT_NUMBER" class="form-control" placeholder="Enter Contract No." required>
                                <span asp-validation-for="CONTRACT_NUMBER" style="color:red;"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Vendor-Details</legend>
                <div class="vendor-details">
                    <a asp-controller="Home" asp-action="Vendor">Enter new Vendor</a>
                    <table class="table-form">
                        @* <tr>
                            <th>Vendor ID</th>
                            <td>
                                <input asp-for="VENDOR_ID" class="form-control" placeholder="Enter Vendor ID" required>
                                <span asp-validation-for="VENDOR_ID" style="color:red;"></span>
                            </td>
                        </tr> *@
                        <tr>
                            <th>Vendor name</th>
                            <td>
                                <input asp-for="VENDOR_NAME" class="form-control" placeholder="Enter Vendor Name" required>
                                <span asp-validation-for="VENDOR_NAME" style="color:red;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Vendor Address</th>
                            <td>
                                <textarea asp-for="VENDOR_ADDRESS" placeholder="Enter Vendor Address" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="VENDOR_ADDRESS" style="color:red;"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Location-Details</legend>
                <div class="location-details">
                    <a asp-controller="Home" asp-action="Location">Enter New Location</a>
                    <table class="table-form">
                        <tr>
                            <th>Location</th>
                            <td>
                                <input asp-for="LOCATION_NAME" class="form-control" placeholder="Enter Location" required>
                                <span asp-validation-for="LOCATION_NAME" style="color:red;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Sub-Location</th>
                            <td>
                                <input asp-for="SUBLOCATION_NAME" class="form-control" placeholder="Enter Sub-Location" required>
                                <span asp-validation-for="SUBLOCATION_NAME" style="color:red;"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Other details</legend>
                <div class="other-details">
                    <table class="table-form">
                        <tr>
                            <th>STATUS</th>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="STATUS" value="Open">
                                    <label class="form-check-label" for="flexRadioDefault1">Open</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="STATUS" value="Closed">
                                    <label class="form-check-label" for="flexRadioDefault2">Closed</label>
                                </div>
                                <span asp-validation-for="STATUS" style="color:red;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Upload Files</th>
                            <td class="icon-file-input-container">
                                <i class="icon">📁</i>
                                <input type="file" accept=".pdf,.doc">
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <div class="button-container">
                <button type="submit" class="submit"><strong>SUBMIT</strong></button>
                <button type="reset" class="clear"><strong>CLEAR</strong></button>
            </div>
        </form>
    </div>
   
</body>